@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800;900&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Be Vietnam Pro", "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-product: "Inter", "Be Vietnam Pro", ui-sans-serif, system-ui, sans-serif;
  --color-brand-primary: #53b88d;
  --color-brand-secondary: #42a379;
  --color-brand-accent: #f0fdf9;
}

body {
  @apply bg-[#fcfcfd] text-[#1a1c1e] font-sans antialiased;
}
